﻿@using System.Configuration
@{
    string urlbase = ConfigurationManager.AppSettings["urlbase"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css/material")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <input type="hidden" value="@urlbase" id="hdUrlBase" />
    @Html.Partial("SideBar")
    <div class="container-body">
        @Html.Partial("NavBar")
        <div class="container-detail layout-card-gray-1 no-pad-top">
            @RenderBody()
        </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div id="modal_loading_agro" class="loading-overlay on" style="display:none;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.Partial("~/Views/Shared/ModalError.cshtml")
        @Html.Partial("~/Views/Shared/ModalOK.cshtml")
        @Html.Partial("~/Views/Shared/CumplimientoDPlazoOK.cshtml")
        @Html.Partial("~/Views/Shared/CumplimientoFPlazoOK.cshtml")

        @*@Html.Partial("~/Views/Shared/ModalConfirmacion.cshtml")*@
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js/material")
    @Scripts.Render("~/bundles/js/app")
    @RenderSection("scripts", required: false)
</body>
</html>
