﻿@using Agrobanco.SCC.Web.Helpers;
@{ 
    ResultadoObtenerModel<Usuario> usuarioSesion = (ResultadoObtenerModel<Usuario>)Session["UsuarioSCC"];
}
<nav class="nav-horizontal">
    <div class="nav-wrapper">
        <a id="menu-open" href="#" class="menu-open"><i class="material-icons">menu</i> </a>
        <div class="row">
            <div class="col s6">
                <span class="titulo-SCC hide-on-small-only">SISTEMA DE CONTROL DE CUMPLIMIENTO</span>
            </div>
            <div class="col s5">
                @if (usuarioSesion != null)
                {
                    <span class="hide-on-small-only">Bienvenido(a) @usuarioSesion.Model.NombreCompleto</span>
                }
            </div>           
        </div>
    </div>
</nav>

