﻿
@{
    ViewBag.Title = "Operacion no authorizada";
}

@if (!string.IsNullOrEmpty(ViewBag.msjErrorExcepcion))
{
    <h2>@ViewBag.msjErrorExcepcion</h2>
}

@if (!string.IsNullOrEmpty(ViewBag.operacion))
{
    <p>Operación @ViewBag.operacion</p>
}

@if (!string.IsNullOrEmpty(ViewBag.modulo))
{
    <p>Modulo @ViewBag.modulo</p>
}