﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SCC.Web.Models;
@model IPagedList<ReporteModel>

<div class="col s6 m6 l12 right-align text-right">
    <ul class="pagination no-margin">

        @Html.PagedListPager(Model,
                                page => Url.Action("Buscar",
                                                    new { page = page, hdListaArea = ViewBag.hdListaArea, fecVencimientoDesde = ViewBag.fecVencimientoDesde, fecVencimientoHasta = ViewBag.fecVencimientoHasta }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "configuracion-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>

<div class="col s12 table-listas">
    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m2">Reporte</div>
            <div class="col s12 m2">Entidad</div>
            <div class="col s12 m2">Área Responsable</div>
            <div class="col s12 m1">Responsable Principal</div>
            <div class="col s12 m2">Frecuencia</div>
            <div class="col s12 m1">Plazo</div>
            <div class="col s12 m1">Próximo Vencimiento</div>
            <div class="col s12 m1">Editar</div>
        </div>

        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col s12 m2">
                <p>@Html.DisplayFor(modelItem => item.Nombre)</p>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.Entidad)
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.AreaResponsable)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.ResponsablePrincipal)
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.Plazo)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.ProximoVencimiento)
            </div>
            <div class="col s12 m1">
                <i onclick="configuracion.Funciones.OpenReporteModal(2,'@item.CodReporte')" class="material-icons" style="cursor: pointer;" name="action">create</i>
            </div>
        </div>
        }
    </div>
</div>
