﻿@using Agrobanco.SCC.Web.Models;
@using Agrobanco.SCC.DAL.Entidades;
@{
    List<ElementoBasico> areasResponsables = ViewBag.ListaAreaResponsable;
    

}

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmReporteModal" }))
{
    @Html.AntiForgeryToken()

<div id="modal-reporte" class="modal modal-l">
    <div style="display:none">
        <label id="hdTipoOperacion"></label>
        <label id="hdCodigoReporte"></label>
    </div>

    <div class="modal-header">
        <h4 class="title"><span id="textModalRepTitulo"></span></h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>

    <div class="modal-content content-input">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="nombreModal" label-input-sel-ticket>Nombre</label>
                    <input name="nombreModal" id="nombreModal" type="text" autocomplete="off" aria-required="true" maxlength="50">
                </div>
            </div>
            <div class="col s12 m6 l8">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="descripcionModal" label-input-sel-ticket>Descripción *</label>
                    <input name="descripcionModal" id="descripcionModal" required type="text" autocomplete="off" aria-required="true" maxlength="50">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboEntidadModal">Entidad *</label>
                    <select name="cboEntidadModal" id="cboEntidadModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaEmpresa)
                        {

                            <option value="@item.CodigoElemento">@item.Descripcion</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboMedioEnvioModal">Medio de Envío *</label>
                    <select name="cboMedioEnvioModal" id="cboMedioEnvioModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaMedioEnvio)
                        {
                            <option value="@item.CodigoElemento">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboAreaGenModal">Área de Generación *</label>
                    <select name="cboAreaGenModal" id="cboAreaGenModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaArea)
                        {
                            <option value="@item.CodigoElemento">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboGerenteGenModal">Gerente de Generación *</label>
                    <select name="cboGerenteGenModal" id="cboGerenteGenModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboResGen1Modal">Responsable Generación 1 *</label>
                    <select name="cboResGen1Modal" id="cboResGen1Modal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboResGen2Modal">Responsable Generación 2 *</label>
                    <select name="cboResGen2Modal" id="cboResGen2Modal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {

                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboAreaResModal">Área Responsable *</label>
                    <select name="cboAreaResModal" id="cboAreaResModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaArea)
                        {
                            <option value="@item.CodigoElemento">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboGerenteResponsableModal">Gerente Responsable *</label>
                    <select name="cboGerenteResponsableModal" id="cboGerenteResponsableModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {

                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboCoordinadorModal">Coordinador *</label>
                    <select name="cboCoordinadorModal" id="cboCoordinadorModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboResPrincipalModal">Responsable Principal *</label>
                    <select name="cboResPrincipalModal" id="cboResPrincipalModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {

                            <option value="@item.CodUsuario">@item.Nombres</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboResAlternoModal">Responsable Alterno</label>
                    <select name="cboResAlternoModal" id="cboResAlternoModal">
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboFrecuenciaModal">Frecuencia *</label>
                    <select name="cboFrecuenciaModal" id="cboFrecuenciaModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaFrecuencia)
                        {

                            <option value="@item.CodigoElemento">@item.Descripcion</option>

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="dt-prox-vencimiento" id="dt-prox-vencimiento" type="text" class="datepicker" required>
                    <label for="dt-prox-vencimiento" class="label active">Próximo Vencimiento *</label>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboTipoCalculoModal">Tipo Calculo *</label>
                    <select name="cboTipoCalculoModal" id="cboTipoCalculoModal" class="select-require" required>
                        <option value="1">Automático</option>
                        <option value="2">Manual</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="plazoModal">Plazo (días) *</label>
                    <input name="plazoModal" id="plazoModal" type="number" class="input-plazo" min="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           onkeypress="javascript: if (this.value > 365) this.value = 365;" onblur="this.onkeypress()"
                           max="365" maxlength="3" required>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboTipoDiasPlazoModal">Tipo días de Plazo</label>
                    <select name="cboTipoDiasPlazoModal" id="cboTipoDiasPlazoModal" class="select-require" required>
                        <option value="1">Hábiles</option>
                        <option value="2">Calendarios</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="diasRecordatorio1Modal">Días Recordatorio 1 *</label>
                    <input name="diasRecordatorio1Modal" id="diasRecordatorio1Modal" type="number" class="input-plazo" min="8" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           onkeypress="javascript: if (this.value > 365) this.value = 365;" onblur="this.onkeypress()"
                           max="365" maxlength="3" value="8" required>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="diasRecordatorio2Modal">Días Recordatorio 2 *</label>
                    <input name="diasRecordatorio2Modal" id="diasRecordatorio2Modal" type="number" class="input-plazo" min="30" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           onkeypress="javascript: if (this.value > 365) this.value = 365;" onblur="this.onkeypress()"
                           max="365" maxlength="3" value="30" required>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboEstadoModal">Estado</label>
                    <select name="cboEstadoModal" id="cboEstadoModal" class="select-require" required disabled>
                        <option value="1">ACTIVO</option>
                        <option value="0">INACTIVO</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content content-input">
        <div class="row " style="margin-top:15px;">
            <div class="col s6 m2 l2 offset-m8 offset-l8">
                <button id="btnGuardarReporteModal" class="btn waves-effect waves-light btn-default btn-block">
                    <span>Guardar</span>
                    <i class="material-icons prefix">check</i>
                </button>
            </div>
            <div class="col s6 m2 l2">
                <input type="button" id="btnCancelarReporteModal" class="btn-warning modal-close" value="Cancelar" />                
            </div>
        </div>
    </div>


</div>

}