﻿
.modal.datepicker-modal {
    position: absolute;
    max-width: 100%;


    .modal-content.datepicker-container {
        flex-direction: column;

        .datepicker-date-display {
            -webkit-box-flex: 0;
            -webkit-flex: 0;
            -ms-flex: 0;
            flex: 0;
            padding: 5px 15px;
            background-color: #ffd204;
        }

        .datepicker-calendar {
            .datepicker-controls {
                width: 300px;
            }

            .datepicker-table {
                width: 300px;
            }
        }

        .datepicker-footer {
            width: 300px;
        }
    }

    .year-text {
        font-size: 0.8rem;
        line-height: 25px;
        color: #00694f;
    }

    .date-text {
        font-size: 1rem;
        line-height: 19px;
        color: #00694f;
    }

    .datepicker-table td.is-selected {
        background-color: #00694f
    }
}

.input-field-common {
    .modal-overlay {
        display: none !important;
    }
}

