﻿.container-cc {
}

.title-web {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #00694f;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.span-error {
    content: attr(data-error);
    //color: #F44336;
    color: $color-error;
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    text-align: left;
}

.span-success {
    content: attr(data-success);
    color: #4CAF50;
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    text-align: left;
}
