﻿@import "variables", "fonts", "label", "button", "input", "navbar", "sidebar", "modal", "table", "pagination", "datepicker";

body {
    font-family: "Ubuntu";

}





.titulo-SCC {
    width: 475px;
    height: 47px;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.39px;
    color: #00694f;
    font-weight: bold;
}


h1.title {
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #41af4f;
    border-left: 10px solid #ffd204;
    padding-left: 10px;
    margin: 10px 0;
}

.container-detail {
    background-color: #f3f3ee;
    padding: 15px;
    //height: 90vh;
}

.row.no-pad-top,
.container.no-pad-top,
.container-detail.no-pad-top {
    padding-top: 0px;
}

.row.no-pad-bot,
.container.no-pad-bot,
.container-detail.no-pad-bot {
    padding-bottom: 0px;
}

.row.no-mar-bot,
.container.no-mar-bot,
.container-detail.no-mar-bot {
    margin-bottom: 0px;
}

.dropdown-content-button,
.dropdown-content-button:hover,
.dropdown-content-button:focus,
.dropdown-content-button:visited {
    background-color: #f3f3ee;
    color: #c5c5ce;
    padding: 0 5px;
    border-radius: 50%;
    box-shadow: none;
}

.card-panel-title {
    color: #00694f;
    font-weight: bold;
    font-size: 14px;
}

.disabled {
    pointer-events: none;
    color: #9e9e9e;

    input, input[type=text]:not(.browser-default) {
        color: #9e9e9e;
        border-bottom: 1px dashed rgba(0,0,0,0.42);
    }
}

select.select-require {
    opacity: 0;
    display: block;
    height: 1px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1200;
    display: none;
    text-align: center;

    &.on {
        opacity: 1;
        display: block;
    }

    .preloader-wrapper {
        top: 40%;
    }
}