﻿.pagination {
    li.active {
        background-color: transparent;
        font-weight: bold;

        a {
            color: #4a4a4a;
            font-weight: bold;
        }
    }

    li {
        a {
            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: 0.88px;
            color: #cbc2b1;
        }

        i {
            font-size: 13px;
            padding-top: 7px;
        }
    }
}
