﻿@using Agrobanco.SCC.Web.Models;
@using Agrobanco.SCC.DAL.Entidades;
@{
    List<ElementoBasico> areasResponsables = ViewBag.ListaAreaResponsable;

}

@using (Html.BeginForm("#", "", FormMethod.Post, new { id = "frmEnvioModal" }))
{
    @Html.AntiForgeryToken()

<div id="modal-envio" class="modal modal-l">
    <div style="display:none">
        <label id="hdTipoOperacion"></label>
        <label id="hdCodigoEnvio"></label>
        <label id="hdCodigoSustento"></label>
    </div>

    <div class="modal-header">
        <h4 class="title"><span id="textModalTitulo"></span></h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>

    <div class="modal-content content-input">
        <div class="row">
            <div class="col s12 m6 l12">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboReporte">Reporte *</label>
                    <select name="cboReporte" id="cboReporte" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Reporte item in ViewBag.ListaReportes)
                        {
                            <option value="@item.CodigoReporte" data-entidad="@item.CodigoEmpresa" data-area-responsable="@item.CodAreaResponsable"
                                    data-gerente-responsable="@item.CodGerenteResponsable" data-responsable-p="@item.CodResponsablePrincipal" data-responsable-a="@item.CodResponsableAlterno"
                                    data-dia-vencimiento="@item.ProximoVencimiento.Day" data-mes-vencimiento="@item.ProximoVencimiento.Month" data-anio-vencimiento="@item.ProximoVencimiento.Year"
                                    data-nombre-reporte="@item.NombreReporte" data-tipo-calculo="@item.TipoCalculo" data-cod-frecuencia="@item.CodFrecuencia">@item.NombreReporte - @item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <label class="label active" for="cboEntidadModal">Entidad</label>
                    <select name="cboEntidadModal" id="cboEntidadModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaEntidad)
                        {

                            <option value="@item.CodigoElemento">@item.Descripcion</option>

                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <label class="label active" for="cboAreaResModal">Área Responsable</label>
                    <select name="cboAreaResModal" id="cboAreaResModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (ElementoBasico item in areasResponsables)
                        {
                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <label class="label active" for="cboGerenteResponsableModal">Gerente Responsable</label>
                    <select name="cboGerenteResponsableModal" id="cboGerenteResponsableModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>
                        }
                    </select>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <label class="label active" for="cboResPrincipalModal">Responsable Principal</label>
                    <select name="cboResPrincipalModal" id="cboResPrincipalModal" class="select-require" required>
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <label class="label active" for="cboResAlternoModal">Responsable Alterno</label>
                    <select name="cboResAlternoModal" id="cboResAlternoModal">
                        <option value="">Seleccione</option>
                        @foreach (Usuario item in ViewBag.ListaUsuario)
                        {
                            <option value="@item.CodUsuario">@item.Nombres</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12 disabled">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="dt-prox-vencimiento" id="dt-prox-vencimiento" type="text" class="datepicker" required>
                    <label for="dt-prox-vencimiento" class="label active">Próximo Vencimiento</label>
                </div>
            </div>
            
        </div>
        <div class="row">

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboEstadoEnvioModal">Estado Envío *</label>
                    <select name="cboEstadoEnvioModal" id="cboEstadoEnvioModal" class="select-require" required>
                        <option value="1">Enviado</option>
                        <option value="0">No enviado</option>
                    </select>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="dt-fecha-envio" id="dt-fecha-envio" type="text" class="datepicker" required>
                    <label for="dt-fecha-envio" class="label active">Fecha de Envío</label>
                </div>
            </div>

            <div class="col s12 m6 l6" id="divMotivoConsulta">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="motivos">Motivo Incumplimiento</label>
                    <textarea id="motivos" name="motivos" type="text" maxlength="500" class="materialize-textarea" disabled></textarea>
                </div>
            </div>

            <div class="col s12 m6 l6" id="divMotivoNuevo">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cboMotivoModal">Motivo Incumplimiento</label>
                    <select name="cboMotivoModal" id="cboMotivoModal">

                        <option value="">Seleccione</option>
                        @foreach (Parametro item in ViewBag.ListaMotivo)
                        {

                            <option value="@item.CodigoElemento">@item.Descripcion</option>

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l8">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="comentarios">Comentarios</label>
                    <textarea id="comentarios" name="comentarios" type="text" maxlength="500" class="materialize-textarea"></textarea>
                </div>
            </div>

            <div class="col s12 m6 l4" id="divSustentoNuevo">
                <div class="file-field-content input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">attach_file</i>
                    <label class="label active" for="sustentoEnvio">Sustento *</label>
                    @*<i class="material-icons file-field-icon on" id="btnLimpiarAdjunto">close</i>*@
                    <div class="file-field input-field">
                        <input type="file" id="sustentoEnvio" accept="application/pdf" name="sustentoEnvio" required>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" id="sustentoEnvioAux" required>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col s12 m6 l4" id="divSustentoConsulta">
                <label class="label active">Sustento</label>
                <div>
                    <button class="btn waves-effect waves-light btn-war" @*onclick="location.href='/ExportarSustento?codigoSustento=22222'"*@ id="btnExportarSustento">
                        <i class="material-icons prefix" style="font-size:29px; padding: 0px 10px;">description</i>
                        <span style="font-size:15px;" id="nombreArchivo">Documento_proyecto.doc</span> <br />
                        <small style="color:#0288d1"></small>
                    </button>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l8 offset-l2" id="divTextoDPlazo">
                <div class="input-field input-field-common col s12">
                    <p class="center-align" style="color:green">
                        <span class="texto-mensaje-plazo">¡Reporte enviado en el plazo correcto!</span>
                        <i class="material-icons small icon-demo green-text">mood</i>
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l8 offset-l2" id="divTextoFPlazo">
                <div class="input-field input-field-common col s12">
                    <p class="center-align" style="color:red">
                        <span class="texto-mensaje-plazo">¡Reporte enviado fuera del plazo!</span>
                        <i class="material-icons small icon-demo red-text">mood_bad</i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-content content-input" id="divAcciones">
        <div class="row " style="margin-top:15px;">
            <div class="col s6 m2 l2 offset-m8 offset-l8">
                <button id="btnRegistrarEnvioModal" class="btn waves-effect waves-light btn-default btn-block">
                    <span>Registrar</span>
                    <i class="material-icons prefix">check</i>
                </button>
            </div>
            <div class="col s6 m2 l2">
                <button id="btnCancelarEnvioModal" class="btn waves-effect waves-light btn-warning modal-action modal-close btn-block">
                    <span>Cancelar</span>
                </button>
            </div>
        </div>
    </div>


</div>

}