﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SCC.Web.Models;
@model IPagedList<EnvioModel>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnExcel" name="btnExcel" href="@(Url.Action("ExportarExcel"))?listaEntidad=@(ViewBag.hdListaEntidad)&listaFrecuencia=@(ViewBag.hdListaFrecuencia)&fecVencimientoDesde=@(ViewBag.fecVencimientoDesde)&fecVencimientoHasta=@(ViewBag.fecVencimientoHasta)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>

<div class="col s6 m6 l12 right-align text-right">
    <ul class="pagination no-margin">

        @Html.PagedListPager(Model,
                                page => Url.Action("Buscar",
                                                    new { page = page, hdListaEntidad = ViewBag.hdListaEntidad, hdListaFrecuencia = ViewBag.hdListaFrecuencia, fecVencimientoDesde = ViewBag.fecVencimientoDesde, fecVencimientoHasta = ViewBag.fecVencimientoHasta }
                                        ),
                                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "cumplimiento-grid", LoadingElementId = "modal_loading_agro" }))
    </ul>
</div>

<div class="col s12 table-listas">
    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m2">Reporte</div>
            <div class="col s12 m2">Entidad</div>
            <div class="col s12 m2">Área Responsable</div>
            <div class="col s12 m1">Responsable Principal</div>
            <div class="col s12 m2">Frecuencia</div>
            <div class="col s12 m1">Vencimiento</div>
            <div class="col s12 m1">Envío</div>
            <div class="col s12 m1">Ver</div>
        </div>

        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col s12 m2">
                <p>@Html.DisplayFor(modelItem => item.NombreReporte)</p>
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.Entidad)
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.AreaResponsable)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.ResponsablePrincipal)
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.FechaEnvio)
            </div>
            <div class="col s12 m1">
                <i onclick="cumplimiento.Funciones.OpenEnvioModal(2,'@item.CodEnvio')" class="material-icons" style="cursor: pointer;" name="action">visibility</i>
            </div>
        </div>
        }
    </div>
</div>
