﻿@using PagedList;
@using Agrobanco.SCC.Web.Models;
@using Agrobanco.SCC.DAL.Entidades;
@model IPagedList<EnvioModel>

@{
    List<Parametro> entidades = ViewBag.ListaEntidad;
    List<Parametro> frecuencias = ViewBag.ListaFrecuencia;
}

<div class="section no-padding">
    <div class="row col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Cumplimiento</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span class="card-panel-title">Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        @using (Ajax.BeginForm("Buscar", "Cumplimiento",
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "cumplimiento-grid", LoadingElementId = "modal_loading_agro"
               , OnFailure = "app.Funciones.msgError('Ha ocurrido un error en la aplicación')"
               }))
        {
            <input type="hidden" id="hdListaEntidad" name="hdListaEntidad" value="0" />
            <input type="hidden" id="hdListaFrecuencia" name="hdListaFrecuencia" value="0" />

            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cbo-entidad">Entidad</label>
                    <select name="cbo-entidad" id="cbo-entidad" multiple>
                        <option value="" disabled selected>Seleccione</option>
                        @foreach (var item in entidades)
                        {
                            <option value="@item.CodigoElemento">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cbo-frecuencia">Frecuencia</label>
                    <select name="cbo-frecuencia" id="cbo-frecuencia" multiple>
                        <option value="" disabled selected>Seleccione</option>
                        @foreach (var item in frecuencias)
                        {
                            <option value="@item.CodigoElemento">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecVencimientoDesde" id="fecVencimientoDesde" type="text" autocomplete="off" class="datepicker">
                    <label for="fecVencimientoDesde" class="label active">Vencimiento (Desde)</label>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecVencimientoHasta" id="fecVencimientoHasta" type="text" autocomplete="off" class="datepicker">
                    <label for="fecVencimientoHasta" class="label active">Vencimiento (Hasta)</label>
                </div>
            </div>
            <div class="col s2 m6 l2 offset-s7">
                <button id="btnBuscar" class="btn waves-effect waves-light btn-default-resize " style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        }

        <div class="col s2 m6 l2 offset-s1">
            <button class="btn btn-default-resize" style="margin-top:23px;" id="btn-nuevo">
                <span>Nuevo</span>
                <i class="material-icons">add</i>
            </button>
        </div>

    </div>

</div>

<div class="row" id="cumplimiento-grid">
    @{
        Html.RenderPartial("_ListaCumplimiento", Model);
    }
</div>

<div>
    @Html.Partial("~/Views/Cumplimiento/_EnvioModal.cshtml")    
</div>


@section scripts{
    @Scripts.Render("~/Scripts/app/Cumplimiento.js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}