﻿@using PagedList;
@using PagedList.Mvc;
@using Agrobanco.SCC.Web.Models;
@model IEnumerable<SeguimientoModel>

<div class="col s6 m3 l2">
    <a class="a-link" id="btnPdf" name="btnPdf" href="@(Url.Action("ExportarExcel"))?listaArea=@(ViewBag.listaArea)&fecVencimientoDesde=@(ViewBag.fecVencimientoDesde)&fecVencimientoHasta=@(ViewBag.fecVencimientoHasta)&estadoCumplimiento=@(ViewBag.estadoCumplimiento)">
        <i class="material-icons prefix">image_as_pdf</i>
        <span>Exportar EXCEL</span>
    </a>
</div>

<div class="col s12 table-listas">
    <div class="table-common table-common-mediano">
        <div class="row row-title hide-on-small-only no-pad-bot">

            <div class="col s12 m2">Reporte</div>
            <div class="col s12 m2">Entidad</div>
            <div class="col s12 m2">Área Responsable</div>
            <div class="col s12 m1">Responsable Principal</div>
            <div class="col s12 m1">Frecuencia</div>
            <div class="col s12 m1">Vencimiento</div>
            <div class="col s12 m1">Envío</div>
            <div class="col s12 m1">Registro</div>
            <div class="col s12 m1">Cumplimiento</div>
        </div>

        @foreach (var item in Model)
        {
        <div class="row">
            <div class="col s12 m2">
                <p>@Html.DisplayFor(modelItem => item.Nombre)</p>
                <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.Entidad)
            </div>
            <div class="col s12 m2">
                @Html.DisplayFor(modelItem => item.AreaResponsable)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.ResponsablePrincipal)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.FechaEnvio)
            </div>
            <div class="col s12 m1">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </div>
            <div class="col s12 m1">
                <div class="col s6 offset-s2">

                    @if (item.EstadoCumplimiento == "1")
                    {
                        <i class="material-icons" title="Dentro del plazo" style="cursor:pointer; color:green">check_circle</i>
                    }

                    @if (item.EstadoCumplimiento == "2")
                    {
                        <i class="material-icons" title="Fuera del plazo" style="cursor:pointer; color:red">highlight_off</i>
                    }

                    @if (item.EstadoCumplimiento == "3")
                    {
                        <i class="material-icons" title="No enviado" style="cursor:pointer; color:blue">do_not_disturb_on</i>
                    }

                    @if (item.EstadoCumplimiento == "4")
                    {
                        <i class="material-icons" title="No informado" style="cursor:pointer; color:black">radio_button_unchecked</i>
                    }

                </div>
            </div>
        </div>
        }
    </div>
</div>
