﻿@using Agrobanco.SCC.Web.Models;
@model IEnumerable<SeguimientoModel>
@{
    ViewBag.Title = "Index";
    List<ElementoBasico> areasResponsables = ViewBag.ListaAreaResponsable;
    List<ElementoBasico> listaEstadoCumplimiento = ViewBag.ListaEstadoCumplimiento;

}

<div class="section no-padding">
    <div class="row col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Seguimiento</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span class="card-panel-title">Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        @using (Ajax.BeginForm("Buscar", "Seguimiento",
               new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "seguimiento-grid", LoadingElementId = "modal_loading_agro",
                   OnFailure = "app.Funciones.msgError('Ha ocurrido un error en la aplicación')" }))
        {
            <input type="hidden" id="hdListaArea" name="hdListaArea" value="0" />

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="cbo-area-responsable">Área Responsable</label>
                    <select name="cbo-area-responsable" id="cbo-area-responsable" multiple>
                        <option value="" disabled selected>Seleccione</option>
                        @foreach (var item in areasResponsables)
                        {

                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecVencimientoDesde" id="fecVencimientoDesde" type="text" class="datepicker">
                    <label for="fecVencimientoDesde" class="label active">Vencimiento (Desde)</label>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <i class="material-icons icon-suffix">date_range</i>
                    <input name="fecVencimientoHasta" id="fecVencimientoHasta" type="text" class="datepicker">
                    <label for="fecVencimientoHasta" class="label active">Vencimiento (Hasta)</label>
                </div>
            </div>
            <div class="col s12 m6 l2">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="estadoCumplimiento">Cumplimiento</label>
                    <select name="estadoCumplimiento" id="estadoCumplimiento">
                        <option value="" selected>Seleccione</option>
                        @foreach (var item in listaEstadoCumplimiento)
                        {
                            <option value="@item.Codigo">@item.Descripcion</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col s2 m6 l2 offset-s7">
                <button id="btnBuscar" class="btn waves-effect waves-light btn-default-resize " style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        }

    </div>
</div>

<div class="row" id="seguimiento-grid">
    @{
        Html.RenderPartial("_ListaSeguimiento", Model);
    }
</div>

@section scripts{
    @Scripts.Render("~/Scripts/app/Seguimiento.js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}